<section class="hero is-secondary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">Coding quotes</h1>
			<h2 class="subtitle">Like your favorite</h2>
		</div>
	</div>
</section>

<div class="columns">
	<div class="column">
		<div class="card">
			<div class="card-content">
				<h2 class="title">"Quote"</h2>
				<h3 class="subtitle">Author</h3>
			</div>
			<footer class="card-footer">
				<div class="card-footer-item">
					<button class="button is-success">
						<i class="fa fa-thumbs-o-up"></i>
					</button>
				</div>
				<div class="card-footer-item">
					<button class="button is-danger">
						<i class="fa fa-thumbs-o-down"></i>
					</button>
				</div>
				<div class="card-footer-item">
					<button class="button is-info">
						<i class="fa fa-share"></i>
					</button>
				</div>
			</footer>
		</div>
	</div>

	<div class="column">
		<div class="card">
			<div class="card-content">
				<h2 class="title">"Quote"</h2>
				<h3 class="subtitle">Author</h3>
			</div>
			<footer class="card-footer">
				<div class="card-footer-item">
					<button class="button is-success">
						<i class="fa fa-thumbs-o-up"></i>
					</button>
				</div>
				<div class="card-footer-item">
					<button class="button is-danger">
						<i class="fa fa-thumbs-o-down"></i>
					</button>
				</div>
				<div class="card-footer-item">
					<button class="button is-info">
						<i class="fa fa-share"></i>
					</button>
				</div>
			</footer>
		</div>
	</div>

	<div class="column">
		<div class="card">
			<div class="card-content">
				<h2 class="title">"Quote"</h2>
				<h3 class="subtitle">Author</h3>
			</div>
			<footer class="card-footer">
				<div class="card-footer-item">
					<button class="button is-success">
						<i class="fa fa-thumbs-o-up"></i>
					</button>
				</div>
				<div class="card-footer-item">
					<button class="button is-danger">
						<i class="fa fa-thumbs-o-down"></i>
					</button>
				</div>
				<div class="card-footer-item">
					<button class="button is-info">
						<i class="fa fa-share"></i>
					</button>
				</div>
			</footer>
		</div>
	</div>

</div>